Code/*
!Code/User
Code/User/*
!Code/User/settings.json
JetBrains/*
eog/*
google-chrome/
libreoffice/
htop/
gtk-2.0/
gtk-3.0/
gnome-control-center/
cef_user_data/
enchant/
dconf/
evolution/
ibus/
jgit/
neofetch/

nautilus
nextjs-nodejs
pulse
